<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Editar nota</title>
</head>

<body>
  <h1>Editar nota</h1>

  <form method="post">
    <label for="title">Título:</label>

    <input
      id="title"
      type="text"
      name="title"
      value="{{ note.title }}"
      required
    >

    <label for="content">Conteúdo:</label>

    <textarea
      id="content"
      name="content"
      required
    >{{ note.content }}</textarea>

    <button type="submit">Salvar alterações</button>
  </form>

  <a href="/">Cancelar</a>
</body>
</html>