<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Get-it</title>
</head>
<body>

    <link rel="stylesheet" href="/static/getit.css">
    <img src="{{{{ url_for('static', filename='img/logo-getit.png') }}}}" class="responsiva" alt="Foto Responsiva">
    <p>Como o Post-it, mas com outro verbo</p>

    <form action="/submit" method="POST">
        <label for="titulo">Título</label>
        <input id="titulo" type="text" name="titulo" />

        <label for="detalhes">Detalhes</label>
        <input id="detalhes" name="detalhes" />

        <input type="submit" />
    </form>

    <ul>
        {notes}
    </ul>

</body>
</html>